html {
  font-size: 1em;

  @media screen and (max-width: $small) {
    font-size: 0.8em;
  }
}

body {
  font-family: 'Raleway', sans-serif;
  border-top: 8px solid $layout-alt-color;
  color: $text-color;
  background: #ddd;
}

main {
  width: $middle - 50px;
  margin: 0 auto;
  background: white;
  box-shadow: 0px 0px 20px 0px #555;

  > div {
    padding: 0 $desktop-page-horizontal-padding;

    @media screen and (max-width: $small) {
      padding: 0 $desktop-page-horizontal-padding/2;
    }
  }

  @media screen and (max-width: $middle) {
    width: 95%;
  }
}

p {
  text-align: justify;
}

section {
  margin: 2em 0 0 0;
  padding: 1em 0;
  border-top: 2px dotted #BCBCBC;

  h2 {
    text-transform: uppercase;
    position: relative;
    margin: 0;
    color: $main-title-color;
    font-size: 1.5em;

    &:before {
      color: $first-color;
      position: absolute;
      top: 2px;
      left: 0;
    }
  }

  h3 {
    color: $title-color;
    padding: 0;
    margin: 1.4em 0 1em 0;
  }
}

a {
  color: $link-color;
}

.clear {
  clear: both;
}

.no-desktop {
  display: none !important;
}
