footer {
  padding: 10px;
  background: $layout-alt-color;
  text-align: center;

  p {
    color: white;

    span {
      position: relative;
      padding-left: 23px;

      &:before {
        @extend %icon-github;
        position: absolute;
        top: 2px;
        left: 0;
      }
    }
  }

  a {
    color: white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
