header {
  position: relative;
  padding: 1.5em $layout-padding 0 $layout-padding;

  h1 {
    font-family: 'Inder', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 3em;
    line-height: 1em;
    color: $first-color;
    font-weight: bold;
    text-transform: uppercase;
  }

  h2 {
    font-family: 'Inder', sans-serif;
    margin: -4px 0 0 0;
    padding: 0;
    font-size: 2em;
    font-weight: bold;
    color: silver;
    text-transform: uppercase;
  }

  ul.quick-links {
    position: absolute;
    top: 27px;
    right: 100px;
    margin: 0;
    padding: 0;
    line-height: 1.4em;

    li {
      font-weight: bold;
      display: block;
      padding-right: 20px;
      color: $first-color;

      &:before {
        padding-right: 5px;
        font-size: 1.2em;
        vertical-align: top;
      }

      span {
        color: $second-color;
      }

      a {
        color: $second-color;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  img.qrcode {
    position: absolute;
    top: 25px;
    right: 30px;
    width: 50px;
    height: 50px;
  }

  @media screen and (max-width: $middle-small) {
    ul.quick-links {
      position: static;
      margin: 1em 0;
    }
  }

  @media screen and (max-width: $small) {
    padding: 1.0em $layout-padding/2 0 $layout-padding/2 !important;

    img.qrcode {
      display: none;
    }
  }
}
