section.interests {
  height: 900px;
  position: relative;

  .donuts {
    margin: 80px 0;

    ul {
      position: relative;
      padding: 0;
      margin: 0;

      li {
        position: absolute;
        list-style: none;

        span {
          display: none;
        }
      }
    }

    svg {
      position: relative;
    }

    li {
      &.javascript      {  top: 110px;    left: 65px;     }
        &.angularjs     {  top: -50px;    left: -50px;    }
        &.e2e           {  top: -80px;    left: 20px;     }
        &.selenium      {  top: -129px;   left: -9px;     }
        &.reactjs       {  top: -88px;    left: 76px;     }
        &.flux          {  top: -110px;   left: 175px;    }
        &.isomorphic    {  top: -27px;    left: 165px;    }
        &.jquery        {  top: 40px;     left: -68px;    }
        &.d3            {  top: 105px;    left: -49px;    }
        &.node          {  top: 93px;     left: 124px;    }
        &.gl            {  top: 147px;    left: 34px;     }

      &.web             {  top: 120px;    left: 405px;    }
        &.html5         {  top: -40px;    left: -55px;    }
        &.css3          {  top: -77px;    left: 50px;     }
        &.preprocessors {  top: -129px;   left: 15px;     }
        &.responsive    {  top: -100px;   left: 125px;    }
        &.cordova       {  top: 74px;     left: -60px;    }
        &.android       {  top: 53px;     left: 104px;    }

      &.python          {  top: 410px;    left: 60px;     }
        &.go            {  top: -50px;    left: 70px;     }
        &.perl          {  top: -20px;    left: -60px;    }
        &.php           {  top: 47px;    left: 76px;      }
        &.net           {  top: 85px;    left: 14px;      }
        &.java          {  top: 52px;    left: -44px;     }

      &.db              {  top: 380px;    left: 380px;    }
        &.mysql         {  top: -26px;    left: -55px;    }
        &.sqlite        {  top: 1px;      left: -109px;   }
        &.oracle        {  top: 82px;     left: -103px;   }
        &.postgresql    {  top: 51px;     left: -59px;    }
        &.coutchdb      {  top: 97px;     left: 5px;      }
        &.mongodb       {  top: 60px;     left: 85px;     }
        &.rethinkdb     {  top: -19px;    left: 90px;     }
        &.cassandra     {  top: -75px;    left: 12px;     }

      &.devops          {  top: 120px;    left: 700px;    }
        &.docker        {  top: -76px;    left: -37px;    }
        &.fig           {  top: -132px;   left: 15px;     }
        &.jenkins       {  top: 27px;     left: -73px;    }
        &.apache        {  top: 85px;     left: 15px;     }
        &.varnish       {  top: 44px;     left: 81px;     }
        &.haproxy       {  top: -26px;    left: 73px;     }
        &.linux         {  top: 147px;    left: 53px;     }

      &.collaboration   {  top: 390px;    left: 700px;    }
        &.github        {  top: -52px;    left: -107px;   }
        &.gitlab        {  top: 90px;     left: -98px;    }
        &.git           {  top: 18px;     left: -75px;    }
        &.trac          {  top: 88px;     left: 15px;     }
        &.kanban        {  top: 30px;     left: 84px;     }

      &.father          {  top: 580px;    left: 130px;    }
        &.bike          {  top: -11px;    left: 140px;    }
        &.aikido        {  top: 0px;      left: -84px;    }

      &.french          {  top: 610px;    left: 570px;    }
        &.english       {  top: 0px;      left: 94px;     }
        &.spanish       {  top: 21px;     left: 188px;    }
    }
  }

  // because Inder font doesn't render very well in Firefox...
  @-moz-document url-prefix() {
    .donuts {
      font-family: 'Arial', sans-serif;
    }
  }
}
