%ph-point {
  width: $point-size;
  height: $point-size;
  border-radius: 50%;
  background: white;
  border: 2px solid $thread-background-color;
}

%ph-arrow {
  @extend %icon-arrow;
  position: absolute;
  font-size: $arrow-size;
  color: $arrow-color;
  display: block;
}
