section.presentation {
  margin-top: 2em;

  div.paragraph {
    display: inline-block;
    vertical-align: top;
    width: 46%;
    padding-right: 1.6em;

    &:last-child {
      padding-right: 0;
      width: 50%;
    }

    @media screen and (max-width: $middle-small + 50) {
      width: 100% !important;

      &:last-child {
        border-top: 1px dotted silver;
      }
    }
  }
}
