section.presentation {
  margin-top: 2em;

  div.paragraph {
    display: inline-block;
    vertical-align: top;
    width: 46%;
    padding-right: 1.6em;

    @media screen and (max-width: $middle) {
      width: 100%;
    }
  }
}
