body.debug-print {
  width: 210mm !important;
  // height: 297mm !important;
  margin-left: auto;
  margin-right: auto;
  // outline: 1px solid #555;
}

@media print {
  @page {
    margin: 2mm 0mm;
  }

  .no-print, .no-print * {
    display: none !important;
  }

  .no-desktop {
    display: block !important;

    &.inline {
      display: inline !important;
    }
  }

  html {
    font-size: 0.70em;
  }

  body {
    width: 210mm !important;
    margin-left: auto;
    margin-right: auto;
    border-top: none;
    background-color: white;
  }

  main {
    width: 100%;
    margin: 0;
    box-shadow: none;
  }

  h3 {
    font-size: 1.0em !important;
  }

  section {
    margin-top: 0em !important;
    border-top: none;
  }

  section.presentation {
    margin-top: 3em !important;

    @-moz-document url-prefix() {
      margin-top: 0em !important;
    }
  }

  section.experiences, section.education {
    display: inline-block;
    vertical-align: top;
  }

  section.education {
    width: 45%;
    padding-left: 0;
  }

  section.experiences {
    width: 48%;
    padding-right: 2em;
  }

  section.work {
    page-break-before: always;

    li:last-child {
      margin: 0 !important;
    }
  }

  section.interests {
    height: 640px !important;

    .donuts {
      margin: 60px 0;
      zoom: 0.8 !important;
      margin-left: 4em;

      @-moz-document url-prefix() {
        -moz-transform: scale(0.8);
        margin-left: -5em;
      }
    }
  }

  footer {
    background: none;
    width: 100%;
    text-align: center;

    p, a {
      color: black;
    }
  }
}
