@media print {
  @page {
    size: landscape;
  }

  .no-print, .no-print * {
    display: none !important;
  }

  .no-desktop {
    display: block !important;

    &.inline {
      display: inline !important;
    }
  }
}
