$list-padding-left: 30px;
$first-column-width: 33%;
$second-column-width: 100 - $first-column-width - 1;
$timeline-width: 7px;

section.list {
  ul {
    margin: 2em 0 0 0;
    padding: 0;

    li {
      margin: 0 0 1.5em 0;
      padding: 0;
      list-style: none;

      div.first-column {
        width: $first-column-width;
        display: inline-block;
        vertical-align: top;

        h3 {
          margin: 0;
          padding-left: $list-padding-left;

          &[class^=icon] {
            position: relative;

            &:before {
              position: absolute;
              top: 1px;
              left: 0;
            }
          }
        }

        p.detail {
          padding-left: $list-padding-left;
        }

        @media screen and (max-width: $middle) {
          width: 95%;
        }
      }

      div.second-column {
        width: $second-column-width;
        display: inline-block;
        vertical-align: top;

        h3 {
          margin: 0;
        }

        @media screen and (max-width: $middle) {
          width: 95%;
          padding: 1em 0 0 $list-padding-left;
        }
      }

      p.detail {
        width: $second-column-width;
        font-size: smaller;
        margin: 0;
        color: $alt-text-color;
      }
    }
  }
}

section.timeline {
  ul {
    position: relative;
    border-left: $timeline-width solid $thread-background-color;
    margin: 2em 0 0 5px !important;

    &:before {
      @extend %ph-arrow;
      top: -17px;
      left: -19px;
      transform: rotate(-90deg);
    }

    &:after {
      content: '';
      @extend %ph-point;
      position: absolute;
      bottom: -5px;
      left: -13px;
      background: $thread-background-color;
    }

    li {
      position: relative;
      left: -$timeline-width;

      &:first-child {
        padding-top: 2em;
      }

      div.first-column {
        h3 {
          position: relative;

          &:before {
            content: '';
            @extend %ph-point;
            position: absolute;
            top: 1px;
            left: -6px;

            @media screen and (max-width: $small) {
              top: -1px;
            }
          }
        }
      }
    }
  }

  &.experiences {
    li {
      &:last-child {
        padding-bottom: 2em;
      }
    }
  }
}
