/**
 * Paddings and margins.
 */
$desktop-page-horizontal-padding: 1.5em;
$desktop-page-vertical-padding: 1.0em;

$layout-padding: 2em;
$print-layout-padding: 15px;

/**
 * Timeline.
 */
$thread-background-color: #ddd;
$point-bakground: #ccc;
$point-size: 15px;
$arrow-size: 31px;
$arrow-color: $thread-background-color;

/**
 * Colors.
 */
$layout-alt-color: #03899C;
$first-color: #888;
$main-title-color: #E60042;
$title-color: #01535F;
$text-color: #555;
$alt-text-color: #888;
$link-color: #48A8B5;

/**
 * Break points.
 */
$middle: 960px;
$middle-small: 800px;
$small: 640px;
$extra-small: 320px;
