$layout-alt-color: #2d6d7f;
$layout-padding: 2em;
$print-layout-padding: 15px;
// name
$first-color: #888;
// quick-links
$second-color: #FF7E2D;
// section titles
$third-color: #00cdf2;
$title-color: #333;
$text-color: #555;
$alt-text-color: #888;

$thread-background-color: #ddd;
$point-bakground: #ccc;
$point-size: 15px;

$arrow-size: 31px;
$arrow-color: $thread-background-color;

// break points
$middle: 960px;
$middle-small: 800px;
$small: 640px;
$extra-small: 320px;
