$border-top-color: #2d6d7f;
// name
$first-color: #888;
// quick-links
$second-color: #FF7E2D;
// section titles
$third-color: #00cdf2;
$text-color: #555;
$alt-text-color: #888;

$thread-background-color: #ddd;
$thread-height: 10px;
$point-bakground: #ccc;
$point-height: 6px;
$point-year-left: 155px;
$point-start-left: 55px;
$point-bac-left: $point-start-left;
$point-bts-left: $point-start-left + $point-year-left * 2;
$point-cs2i-left: $point-bts-left + $point-year-left * 2;
$point-master-left: $point-cs2i-left + $point-year-left * 1;
$point-cerealog-left: $point-start-left;
$point-gandi-left: $point-cerealog-left + $point-year-left * 2;

$arrow-size: 2.2em;
$arrow-color: $thread-background-color;
