* {
  font-family: 'Raleway', sans-serif;
}

h2 {
  font-size: 1.4em;
}

a {
  color: white;
}

aside.summary {
  span.icon {
    font-size: 1.3rem;
    vertical-align:  middle;
    padding-right: 5px;
  }

  ul {
    padding-left: 20px;

    &.no-bullist {
      list-style: none;
      padding-left: 0px;
    }
  }
}
