/**
 * Break points
 */
@bp-MaxWidth: 750px;


/**
 * Spacing
 */
@sp-marginExtraLarge: 4em;
@sp-marginLarge: 2em;
@sp-marginMedium: 1em;
@sp-marginSmall: 0.5em;

@sp-paddingExtraLarge: 4em;
@sp-paddingLarge: 2em;
@sp-paddingMedium: 1em;
@sp-paddingSmall: 0.5em;

/**
 * Colors
 */

@c-white: #fff;
@c-lightGrey: silver;
@c-light-green: #95c9d6;
@c-darkGrey: #2A4046;
