* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway';
  font-size: 0.9em;

  line-height: 1.5em;

  display: flex;
  justify-content: center;

  background: rgb(194, 194, 194);
  background: radial-gradient(
    circle,
    rgba(194, 194, 194, 1) 0%,
    rgba(118, 118, 118, 1) 100%
  );

  padding: @sp-paddingExtraLarge 0;
}

main {
  display: flex;
  width: 1000px;
  border: 1px solid @c-lightGrey;

  .page-shadow;
}

header {
  margin-bottom: @sp-marginLarge;

  h2 {
    font-weight: 200;
  }
}

section {
  padding: @sp-paddingMedium;

  article {
    margin-bottom: @sp-marginLarge;
  }

  a {
    color: white;
    text-decoration: underline;

    &:hover {
      color: @c-light-green;
    }
  }

  &#summary {
    width: 30%;
    background: @c-darkGrey;
    color: @c-white;

    header {
      text-align: center;

      img.photo {
        width: 150px;
        border-radius: 50%;
        border: 2px solid #5b757c;
      }
    }

    h3 {
      margin: 0 0 1em 0;
      padding: 0;
      text-transform: uppercase;

      span {
        color: @c-light-green;
        font-weight: 400;
      }
    }
  }

  &#content {
    width: 71%;
    background: @c-white;
    color: @c-darkGrey;

    article {
      margin-bottom: @sp-marginLarge;
    }

    h3 {
      margin: 0 0 @sp-paddingMedium 0;
      padding: 0;
      text-align: right;
      font-size: 1.8em;
      text-transform: uppercase;

      span {
        color: @c-light-green;
        font-weight: 400;
      }
    }
  }
}

