* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Raleway';
  font-size: 0.9em;

  display: flex;
  justify-content: center;

  height: 100%;

  background: rgb(194, 194, 194);
  background: radial-gradient(
    circle,
    rgba(194, 194, 194, 1) 0%,
    rgba(118, 118, 118, 1) 100%
  );

  padding: @sp-marginLarge 0;
}

main {
  width: 1000px;
  height: 100%;
  min-height: 800px;

  display: flex;

  border: 1px solid @c-lightGrey;

  position: relative;

  &:before,
  &:after {
    z-index: -1;
    position: absolute;
    content: '';
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 500px;
    box-shadow: 0 20px 10px rgb(80, 80, 80);
    transform: rotate(-3deg);
  }
  &:after {
    transform: rotate(3deg);
    right: 10px;
    left: auto;
  }
}

section {
  &#summary {
    width: 30%;
    background: @c-darkGrey;
    color: @c-white;

    padding: @sp-marginMedium;
  }

  &#content {
    width: 70%;
    background: @c-white;
    color: @c-darkGrey;
  }

  h3 {
    padding-top: 1.5em;
  }

  ul {
    padding: 0;

    li {
      padding-left: 30px;
      list-style: none;
      line-height: 1.8em;
    }
  }
}

section#summary {
  header {
    text-align: center;

    img.photo {
      width: 150px;
      border-radius: 50%;
      border: 2px solid #5b757c;
    }
  }
}

section#content {
  padding: @sp-marginSmall;

  overflow-y: scroll;

  h3 {
    margin: 0;
    padding: @sp-marginMedium 0;
  }

  ul {
    li {
      line-height: 1.4em;
      list-style: circle;
    }
  }
}
